{% extends "base.html" %}


{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons"></i>Discovery</a>
            <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="material-icons">search</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>


    <!--Search bar -->
    <div class="search">
        <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </div>


    <!-- Card Details Structure -->
    <div id="CardDetails" class="modal">
        <div class="modal-content">
            <h4>Title</h4>
            <p>Description</p>
            <i class="material-icons">location_on</i>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <!-- Contains all the cards-->
    <div id="CardWrapper">
    </div>

    <!-- Floating Action Button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a id="addLocation" class="btn-floating green"><i class="material-icons">add</i></a></li>
            <li><a id="addActivity" class="btn-floating blue"><i class="material-icons">add_alert</i></a></li>
        </ul>
    </div>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Activity</a>

    <!-- Modal Structure - new event -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            {% include "activityForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitActivityForm">Submit</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            {% include "activityForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitActivityForm">Submit</a>
        </div>
    </div>

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Add Location</a>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Add location</h4>
            {% include "locationForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitLocationForm">Submit</a>
        </div>
    </div>
    <!-- Modal Structure - location -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Add location</h4>
            {% include "locationForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitLocationForm">Submit</a>
        </div>
    </div>



    <!-- Footer -->


{% endblock %}
