{% extends "base.html" %}
{% load static %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><i class="material-icons"></i>Discovery</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>


    <!--Search bar -->


    <div class="row search-row">

        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="search" type="text" class="validate">
            <label for="search">Search</label>
        </div>
        {% comment %}        <div class="input-field col s12">

            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>{% endcomment %}
        <div class='input-field col s12 m6 l6'>
            <select id="selectCategory">
                <option value="" selected> Choose Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label>Categories</label>
        </div>

        <div class='input-field col s12 m6 l6'>
            <select id="selectActivity">
                <option value="" selected> Choose Activity</option>
                {% for activity in activities %}
                    <option value="{{ activity.id }}">{{ activity.name }}</option>
                {% endfor %}
            </select>
            <label>Activities</label>
        </div>
    </div>

    <!-- Disabled Switch -->
    <div class="row map-switch">
        <div class="col s12">
            <div class="map-button-container"><a class="waves-effect waves-light btn">List View</a>
                <a class="waves-effect waves-light btn" id="btnViewMap">Map View</a></div>

        </div>
    </div>


    <!-- Card Details Structure -->
    <div id="CardDetails" class="modal">
        <div class="modal-content">
            <h4>Title</h4>
            <p>Description</p>
            <i class="material-icons">location_on</i>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <!-- Contains all the cards-->
    <div id="CardWrapper" class="row">
    </div>

    <!-- Floating Action Button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a id="addLocation" class="btn-floating green"><i class="material-icons">add_location</i></a></li>
            <li><a id="addActivity" class="btn-floating blue"><i class="material-icons">create</i></a></li>
        </ul>
    </div>

    <!-- Modal Trigger -->
    <!-- Modal Structure - new event -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            {% include "activityForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitActivityForm">Submit</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            {% include "activityForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitActivityForm">Submit</a>
        </div>
    </div>

    <!-- Modal Trigger -->

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Add location</h4>
            {% include "locationForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitLocationForm">Submit</a>
        </div>
    </div>
    <!-- Modal Structure - location -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Add location</h4>
            {% include "locationForm.html" %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitLocationForm">Submit</a>
        </div>
    </div>

    <div id="map"></div>

    <script src="{% static "js/map.js" %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPVCalpqJ8RzlRN4Mrjn_GBinckQdFvBI&callback=initMap"
            async defer></script>
    <!-- Footer -->


{% endblock %}
