{% extends "base.html" %}


{% block body %}
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons"></i>Discovery</a>
        <ul class="right hide-on-med-and-down">
            <li><a href=""><i class="material-icons">search</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
</nav>


<!--Search bar -->

<div class="search">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
</div>


    <!-- Cards -->
    <div class="flex-container">

          <div class="card white place-card">
            <div class="card-content black-text">
              <span class="card-title">Multi Purpose Church Hall - St James Church </span>
              <p> Hall for hire, multi activity, sound or music space, flexible use, quiet, solitary, room, safe. </p>
            </div>
            <div class="card-action">
                <div>
                    <a>Contact </a>
                     <div>01968 768954 </div>
                    </div>
            </div>
          </div>


          <div class="card white place-card">
            <div class="card-content black-text">
              <span class="card-title">Outdoor Day Service - Tiphereth Camphill Community</span>
              <p> Day Service, Outdoors, Environmental, Composting, Litter Collection, Woodwork, Gardening, group based, nature. </p>
            </div>
            <div class="card-action">
                <div>
                    <a>Contact </a>
                     <div>0131 441 2055 </div>
                    </div>
            </div>
          </div>


          <div class="card white place-card">
            <div class="card-content black-text">
              <span class="card-title">Aquarium - Dobbies Garden Centre</span>
              <p> Explore a different environment with huge structures like trains and colliery machinery. A sensory environment with lots to see. </p>
            </div>
            <div class="card-action">
                <div>
                    <a>Contact </a>
                     <div>0141 336 28 </div>
                    </div>
            </div>
          </div>

    </div>

    <!-- Floating Action Button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>

    <!--{{ result }}-->


  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add new activity</a>

  <!-- Modal Structure - new event -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      {% include "activityForm.html" %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitActivityForm">Submit</a>
    </div>
  </div>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Add Location</a>

  <!-- Modal Structure - location -->
  <div id="modal2" class="modal" >
    <div class="modal-content">
      <h4>Add location</h4>
      {% include "locationForm.html" %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submitLocationForm">Submit</a>
    </div>
  </div>

    <!-- Footer -->


{% endblock %}
