<h1>Entering a new location: </h1>
<p1>
    <form id="locationForm" action="" method="">
        Name of the location:<br>
        <input name="locname" type="text" size="30"/>
        Price:<br>
        <input name="price" type="number"/>
        Describe the venue:<br>
        <input name="description" type="text"/>
        Enter the address of the venue:<br>
        <input name="address" type="text"/>
        Give some examples of ongoing activities:<br>
        <input name="activities" type="text"/>
        Are there any additional activities that could be held: (optional)<br>
        <input name="sampleActivities" type="text"/>
        How would you tag this location as single words comma separated: (optional)<br>
        <input name="keyWords" type="text">
        Are there any possibly undesirable features of this venue: (optional)<br>
        <input name="warnings" type="text"/>
    </form>
</p1>
